@{
    ViewData["Title"] = "Fale Conosco";
}
<h1>@ViewData["Title"]</h1>


<form>
    <div class="mb-3 mt-5">
        <label for="exampleInputEmail1" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="inputUsername" placeholder="username@mail.com">
    </div>

    <div class="row mt-3">

        <div class="mb-3 col-6">
            <label for="exampleInputPassword1" class="form-label">Palavra-chave</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="inputPassword" placeholder="Palavra-chave">
        </div>
        <div class="mb-3 col-6">
            <label for="exampleInputPassword1" class="form-label">Confirme sua palavra-chave</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="inputPassword" placeholder="Confirme a Palavra-chave">
        </div>

    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="inputCheckInput">
        <label class="form-check-label" for="exampleCheck1">Verificar E-mail</label>
    </div>

    <button type="submit" class="btn btn-outline-success mt-3">Cadastrar</button>
</form>